.section{
    display: flex;
}

.section .left,
.section .right{
        width: 50%;
        height: auto;
        padding: 5px;
        box-sizing: border-box;
         text-align: center;
}

img{
    width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .section{
        flex-direction: column;
    }
    
    .section .left,
    .section .right{
        width: 100%;
        height: auto;
        padding: 5px;
    }
 
}